---
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.astro";
import H2 from "../components/H2.astro";
import Button from "../components/Button.astro";
import FeatureSection from "../components/FeatureSection.astro";

import { FaWhatsapp, FaPhone } from "react-icons/fa";
// import the Image component from Astro and the main landing page image
import { Image } from "astro:assets";
import mainLandingPage from "../../public/assets/mainLandingPage.webp";

// Feature Section Image Imports
import featureSectionOne from "../../public/assets/featureSectionOne.webp";
import featureSectionTwo from "../../public/assets/featureSectionTwo.webp";
import featureSectionThree from "../../public/assets/featureSectionThree.webp";

// farewell image
import businessOne from "../../public/assets/bussinesOne.webp";
import businessTwo from "../../public/assets/bussinesTwo.webp";
---

<Layout title="Gruas 77">
  <Main>
    <!-- H1 : Es el titulo de la pagina, cambialo para actualizarlo -->
    <div class="flex justify-center">
      <Image
        class="w-40 h-40 object-contain"
        src={featureSectionThree}
        alt="Gruas 77 Landing Page Image"
      />
    </div>

    <div class="flex justify-center text-white">
      <p><b>Periférico y Mariano Otero, Zapopan, Jalisco, México</b></p>
    </div>

    <!-- Imagen de bienvenida -->
    <div class="flex justify-center mt-7 mx-2 sm:mx-11">
      <Image
        class="w-full sm:w-4/5 md:w-7/12 lg:w-7/12 xl:w-7/12 h-auto object-contain sm:mx-11 aspect-w-4 aspect-h-3 rounded-lg"
        src={mainLandingPage}
        alt="Gruas 77 Landing Page Image"
      />
    </div>

    <!-- Frase de la empresa -->
    <div class="flex justify-center text-center text-white mt-8 p-2">
      <p class="text-lg sm:text-xl">
        “Nos enorgullece ofrecer la mejor calidad de servicio y los precios más
        competitivos del mercado, asegurando una excelente relación
        costo-beneficio"
      </p>
    </div>
    <!-- Boton de contacto -->
    <div class="flex justify-center mt-8">
      <!-- Cambiar texto del boton aqui abajo -->
      <Button href="tel:+523315404044" text="¡Llamanos!" icon={FaPhone} />

      <!-- Cambiar texto del boton aqui abajo -->
      <Button
        href="https://wa.me/+523315404044?text=Hola! Me gustaria realizar una cotizacion"
        text="¡Contactanos!"
        icon={FaWhatsapp}
      />
    </div>

    <!-- Seccion de caracteristicas -->
    <!-- Features section -->
    <FeatureSection
      heading="¿Qué ofrecemos?"
      imageSrc={featureSectionOne}
      imageDescription="Gruas 77 Main Landing Page Image"
      htmlContent={`
				<p>
          Ofrecemos servicios de grúas de plataforma en la zona metropolitana de Guadalajara 
          y a nivel nacional, especializados en el traslado seguro y eficiente de vehículos 
          y cargas especiales como maquinaria. Nuestro equipo capacitado está disponible 24/7
           para atender emergencias.
				</p>
			`}
    />

    <div class="flex justify-center">
      <!-- Cambiar texto del boton aqui abajo -->
      <Button href="tel:+523315404044" text="¡Llamanos!" icon={FaPhone} />

      <!-- Cambiar texto del boton aqui abajo -->
      <Button
        href="https://wa.me/+523315404044?text=Hola! Me gustaria realizar una cotizacion"
        text="¡Contactanos!"
        icon={FaWhatsapp}
      />
    </div>

    <FeatureSection
      heading="Nuestros servicios"
      imageSrc={featureSectionTwo}
      imageDescription="Gruas 77 Main Landing Page Image"
      htmlContent={`
				<ol class="list-decimal pl-5 pt-3 space-y-2">
					<li>
						Traslado de automoviles ZMG
					</li>
					<li>
            Traslado de motocicletas
					</li>
          <li>
            Traslado y carga de maquinaria pesada
          </li>
          <li>
            Traslado de oficinas moviles y contenedores
          </li>
				</ol>
			`}
    />
    <div class="flex justify-center">
      <!-- Cambiar texto del boton aqui abajo -->
      <Button href="tel:+523315404044" text="¡Llamanos!" icon={FaPhone} />

      <!-- Cambiar texto del boton aqui abajo -->
      <Button
        href="https://wa.me/+523315404044?text=Hola! Me gustaria realizar una cotizacion"
        text="¡Contactanos!"
        icon={FaWhatsapp}
      />
    </div>
    <div>
      <FeatureSection
        heading="Servicios Confiables"
        imageSrc={featureSectionThree}
        imageDescription="Gruas 77 Main Landing Page Image"
        htmlContent={`
        <p>
          Sabemos lo importante que es para empresas como la suya o clientes como
          usted contar con un servicio confiable que garantice el traslado seguro y
          eficiente de automóviles, maquinaria y equipo pesado.  En Grúas 77, nos
          especializamos en:
        </p>
       	<ul class="list-disc pl-5 pt-3 space-y-2">
					<li>
						Traslado seguro y rápido 
					</li>
					<li>
						Mejor precio y calidad en el servicio
					</li>
					<li>
            Servicio de emergencia
					</li>
				</ul>
			`}
      />
      <div class="flex justify-center">
        <!-- Cambiar texto del boton aqui abajo -->
        <Button href="tel:+523315404044" text="¡Llamanos!" icon={FaPhone} />

        <!-- Cambiar texto del boton aqui abajo -->
        <Button
          href="https://wa.me/+523315404044?text=Hola! Me gustaria realizar una cotizacion"
          text="¡Contactanos!"
          icon={FaWhatsapp}
        />
      </div>
    </div>

    <div class="flex justify-center mt-4">
      <H2 text="Periférico y Mariano Otero, Zapopan, Jalisco, México" />
    </div>

    <!-- Imagen de despedida -->
    <div
      class="flex flex-col sm:flex-row justify-center items-center gap-8 mt-10 mx-2 sm:mx-11"
    >
      <Image
        class="w-full sm:w-5/12 h-auto object-contain rounded-lg"
        src={businessOne}
        alt="Gruas 77 Landing Page Image"
      />
      <Image
        class="w-full sm:w-5/12 h-auto object-contain rounded-lg"
        src={businessTwo}
        alt="Gruas 77 Landing Page Image"
      />
    </div>
  </Main></Layout
>
