---
type Props = {
  text: string;
  colorClass?: string;
  hoverColor?: string;
  class?: string;
  href?: string;
  icon?: any;
  id?: string;
};

const {
  text,
  colorClass = "bg-vividGreen",
  hoverColor = "bg-green-700",
  class: className = "",
  href,
  icon: IconComponent,
  id,
} = Astro.props;

const baseClasses = `${colorClass} hover:${hoverColor} text-white font-bold py-2 px-4 mx-3 rounded-full uppercase ${className} inline-flex items-center gap-2`;
---

{
  href ? (
    <a href={href} class={baseClasses} id={id}>
      {text}
      {IconComponent && <IconComponent />}
    </a>
  ) : (
    <button id={id} class={baseClasses}>
      {text}
      {IconComponent && <IconComponent />}
    </button>
  )
}
